@model Entities.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Başlık Düzenle</h1>
@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
 {
<div class="form-control">
    @Html.Label("Başlık ID")
    @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.valueCat, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar")
    @Html.TextBoxFor(x => x.AuthorID, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
 }

